[Desktop Entry]
Type=Application
Terminal=false
Name=SpringBoard Manager
Name[ja]=SpringBoard マネージャ
Comment=Manage SpringBoard icons on iPhone/iPod Touch devices
Comment[es]=Ejecuta SBManager para organizar el Springboard de este dispositivo
Comment[it]=Organizza le icone della Springboard dell' iPhone/iPod Touch
Comment[ja]=iPhone/iPod Touch の SpringBoard アイコンを管理します
Icon=sbmanager
Exec=sbmanager
Categories=GNOME;GTK;Utility;
